header{
			background-color: grey; 
			width: 900px; 
			height: 100px; 
			text-align: center; 
			padding-top: 30px; 
			margin: 10px auto;
		}
		div{
			width: 900px; 
			margin: 10px auto;
		}
		aside{
			background-color: yellow; 
			height: 300px;
			text-align: center;
			padding-top: 30px; 
			width: 300px; 
			float: left;
		}
		main {
			background-color: blue; 
			height: 300px;
			text-align: center;
			padding-top: 30px;
		}
		footer{
			background-color: red; 
			height: 100px; 
			width: 900px;
			text-align: center;
			padding-top: 30px;
			margin: 10px auto;
		}